$accentColor = blue
$textColor = blue
$borderColor = blue
$codeBgColor = blue
$arrowBgColor = blue
$badgeTipColor = blue
$badgeWarningColor = blue
$badgeErrorColor = blue

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px